// USER VARIABLES SECTION

$accent: #24c1dd // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: #2b2b2b
// Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$roboto: Roboto, sans-serif // Roboto Font Family
$poppins: Poppins, sans-serif // Poppins Font Family
$themify: Themify, sans-serif
$global-link-color: #DA7D02

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// IMPORT SECTION
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites
@import '../libs/fontawesome-free-5.14.0-web/css/all.min.css' // Fontawesome
@import '../libs/themify-icons/themify-icons.css' // Themify

@import 'node_modules/uikit/src/scss/variables-theme.scss'
@import 'node_modules/uikit/src/scss/mixins-theme.scss'
@mixin hook-card()
	color: #000
@import 'node_modules/uikit/src/scss/uikit-theme.scss'

@import 'node_modules/owl.carousel/src/scss/owl.carousel.scss'
@import 'node_modules/owl.carousel/src/scss/owl.theme.default.scss'

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')

@include font('Roboto', normal, 400, '../fonts/roboto/roboto-regular-webfont.woff2')
@include font('Roboto', italic, 400, '../fonts/roboto/roboto-italic-webfont.woff2')
@include font('Roboto', normal, 700, '../fonts/roboto/roboto-bold-webfont.woff2')
@include font('Roboto', italic, 700, '../fonts/roboto/roboto-bolditalic-webfont.woff2')

@include font('Poppins', normal, 300, '../fonts/poppins/poppins-v12-latin-300.woff2')
@include font('Poppins', normal, 400, '../fonts/poppins/poppins-v12-latin-regular.woff2')
@include font('Poppins', normal, 500, '../fonts/poppins/poppins-v12-latin-500.woff2')
@include font('Poppins', normal, 600, '../fonts/poppins/poppins-v12-latin-600.woff2')
@include font('Poppins', bold, 800, '../fonts/poppins/poppins-v12-latin-800.woff2')
//@include font('Themify', normal, 400, '../fonts/themify/themify.woff')

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html
	width: 100% 

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $roboto
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	color: $textcolor

*, ::after, ::before
	box-sizing: border-box
	padding: 0
	margin: 0

a
	color: black
	&:hover
		text-decoration: none
		color: black
		
textarea:focus, input:focus
    outline: none

button
	display: inline-block
	border: none
	padding: 1rem 2rem
	margin: 0
	text-decoration: none
	background: #0069ed
	color: #ffffff
	font-family: sans-serif
	font-size: 1rem
	cursor: pointer
	text-align: center
	transition: background 250ms ease-in-out, transform 150ms ease
	-webkit-appearance: none
	-moz-appearance: none
	&:focus
		outline: 0
		outline-offset: -4px
	&:active
		transform: scale(0.99)