// ******************************* CONTAINER *******************************
.container
  display: flex
  justify-content: center
  flex-direction: column
  padding: 0 100px
  width: 100%
  max-width: 1920px
  &-mod
    padding: 0 200px

// ***********************************************************************

// ******************************* SECTION *******************************
.section
  display: flex
  padding: 100px 0
  justify-content: space-between
  width: 100%

.flex-start
  justify-content: flex-start
  padding-right: 80px

.flex-end
  justify-content: flex-end
  padding-left: 80px

.flex-column
  flex-direction: column

.flex-row
  flex-direction: row
// ***********************************************************************

// MENU
$phone-width: 764px

.menu
  display: flex
  margin-bottom: 50px
  &-list
    display: flex
    list-style-type: none
    padding: 0
    margin: 0 auto
    &-bold
      font-weight: 500
    &-normal
      font-weight: 400
    &__item
      &-header
        margin-left: 5px
      &-main
        margin-left: 10px
    &__link
      vertical-align: middle
      margin: 25px
      @media (max-width: $phone-width) 
        margin: 5px
      font-family: $poppins
      font-size: $fontsize
      &-hover
        &:hover
          color: $accent
          transition: color .4s ease
      &-active
        color: $accent
//

// ******************************* BUTTON *******************************
.btn
  display: inline-block
  position: relative
  padding: 12px 30px
  cursor: pointer
  color: $textcolor
  background-color: white
  font-size: $fontsize
  border-radius: 30px
  font-weight: 400
  transition: background-color 1s ease
  &-summer-sky
    border: 1px solid $textcolor
    background-color: transparent
    &:hover
        background-color: $accent
        color: white
        border: 1px solid transparent
        a
          i
            color: white

  &-black-cat
    border: 1px solid transparent
    &:hover
      background-color: $textcolor
      border: 1px solid transparent
      color: white
      a
        i
          color: white
  
  &-red-parrot
    border: 1px solid black
    &:hover
      background-color: rgb(198, 7, 34)
      border: 1px solid transparent
      color: white
      a
        i
          color: white
// ***********************************************************************

// ******************************* OTHER *******************************
.text-uppercase
  text-transform: uppercase

.text-color
  color: white

.color-black
  color: $textcolor

.font-weight-500
  font-weight: 500

.font-weight-bold
  font-weight: bold

.color-summer-sky
  color: $accent

.opacity
  color: rgba($textcolor, 0.1)

.hide
  display: none

.stop-scrolling 
  height: 100%
  overflow: hidden
// ***********************************************************************