$phone-width: 764px
  
.demo-site
  //background-color: red
  padding-top: 150px
  @media (max-width: $phone-width) 
    padding-top: 300px
  &__composition
    display: flex
    align-items: center
    flex-direction: column
    width: 100%
    position: relative
    &-wrapper
      padding: 30px 0
      margin: 0 auto
      text-align: center
      width: 80%
  &__main_titles
    display: flex
    justify-content: space-between
    position: absolute
    opacity: 0.4
    bottom: 100px
  &__second_titles
    display: flex
    justify-content: space-between
    position: absolute
    opacity: 0.4
    bottom: 10px
  &__title
    display: flex
    font-family: $roboto
    margin:  0 auto
    font-size: 130px
    font-weight: 600
  &__header
    padding: 0 600px
  &__text
    letter-spacing: 5px
    font-weight: 500
    span
      color: $accent
  &__subtitle
    &-absolute
      margin: 0 auto
      line-height: 0.8
      font-size: 120px
      font-weight: 800
      > span
        position: absolute
        font-size: 30px
    &-common
      font-size: 50px
      font-weight: 300
      margin: 0
    &-gradient
      background: linear-gradient(to right, #2c6efb 2%, #9403f0 82%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    &-transparent
      color: transparent
  &__buttons
    display: flex
    justify-content: center
  &-bgcolor
    background-color: #f3f3f3
  &-bgcolor_blue
    background-color: #3fc6e8
  &__footer
    height: 450px
    &-btn
      display: flex
      justify-content: center