$phone-width: 1024px

#toggle-nav
  padding: 8px 10px
  border-radius: 3px
  background-color: transparent
  color: black
  text-transform: uppercase
  align-self: center
  font-size: .7rem
  font-weight: bold
  @media (min-width: $phone-width + 1) 
    display: none
  @media (max-width: $phone-width) 
    margin-right: 5px;
  
.main-nav__heading
  height: 71px
  @media (max-width: $phone-width)
    width: 100%
    display: flex
    justify-content: space-between
  
.main-nav__logo
  line-height: 60px
  text-decoration: none
  text-transform: uppercase
  color: black
  @media (max-width: $phone-width) 
    margin-left: 10px
  
.main-nav
  height: 70px
  display: flex
  justify-content: space-between
  $this: &
  @media (max-width: $phone-width) 
    display: block
  &__menu
    display: flex
    background: white
    margin: 0
    @media (min-width: $phone-width + 1) 
      max-height: 70px
    @media (max-width: $phone-width) 
      display: block
      height: 0
      overflow: hidden
      box-shadow: 2px 0px 14px 0px rgba(0, 0, 0, 0.15) 
    &-item
      list-style: none
      &-link 
        color: #999
        text-decoration: none
        display: block
        line-height: 60px
        cursor: pointer
        padding: 0 10px
        @media (max-width: $phone-width) 
          line-height: 40px
          box-shadow: 0 -1px 0 #eee     
        &:hover
          color: $accent
      &--active
        #{$this}__menu-item-link
          color: black
          background: #f0f0f0
          &:hover
            color: black
      &--dropdown
        position: relative
        #{$this}__menu-item-link
          @media (min-width: $phone-width + 1) 
            padding-right: 20px;
        &:after
          top: 28px
          left: auto
          right: 5px
          border: solid transparent
          content: " "
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          border-color: transparent
          border-top-color: #888
          border-width: 5px
          @media (max-width: $phone-width) 
            top: 18px
        #{$this}__sub-menu        
          list-style: none
          height: 0
          overflow: hidden
          transition: .5s
          background-color: #f0f0f0         
          white-space: nowrap
          z-index: 1
          @media (min-width: $phone-width + 1) 
            position: absolute
            top: 100%
            left: 50%
            transform: translateX(-50%)
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .35)
          &-item
            padding: 10px 15px
            &-link
              color: #999
              display: block
              text-decoration: none
              &:hover
                color: black

.open
  padding: 0px 50px 0px 50px
  height: auto !important